apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  creationTimestamp: null
  name: {{ clusterLongName }}
spec:
  api:
    loadBalancer:
      type: Public
  authorization:
    rbac: {}
  channel: stable
  cloudProvider: aws
  configBase: s3://quetzallazteuq-kops-configuration/{{ clusterLongName }}
  etcdClusters:
  - etcdMembers:
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}a
      name: a
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}b
      name: b
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}c
      name: c
    name: main
    version: 3.2.24
  - etcdMembers:
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}a
      name: a
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}b
      name: b
    - encryptedVolume: true
      instanceGroup: master-{{ targetRegion }}c
      name: c
    name: events
    version: 3.2.24
  iam:
    allowContainerRegistry: true
    legacy: false
  kubelet:
    anonymousAuth: false
  kubernetesApiAccess:
  - 0.0.0.0/0
  kubernetesVersion: v1.11.6
  masterPublicName: api.{{ clusterLongName }}
  networkCIDR: 10.{{ secondCidrOctet }}.0.0/16
  networking:
    calico:
      majorVersion: v3
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 67.84.103.48/32
  subnets:
  - cidr: 10.{{ secondCidrOctet }}.32.0/19
    name: {{ targetRegion }}a
    type: Private
    zone: {{ targetRegion }}a
  - cidr: 10.{{ secondCidrOctet }}.64.0/19
    name: {{ targetRegion }}b
    type: Private
    zone: {{ targetRegion }}b
  - cidr: 10.{{ secondCidrOctet }}.96.0/19
    name: {{ targetRegion }}c
    type: Private
    zone: {{ targetRegion }}c
  - cidr: 10.{{ secondCidrOctet }}.0.0/22
    name: utility-{{ targetRegion }}a
    type: Utility
    zone: {{ targetRegion }}a
  - cidr: 10.{{ secondCidrOctet }}.4.0/22
    name: utility-{{ targetRegion }}b
    type: Utility
    zone: {{ targetRegion }}b
  - cidr: 10.{{ secondCidrOctet }}.8.0/22
    name: utility-{{ targetRegion }}c
    type: Utility
    zone: {{ targetRegion }}c
  topology:
    bastion:
      bastionPublicName: bastion.{{ clusterLongName }}
    dns:
      type: Public
    masters: private
    nodes: private

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ clusterLongName }}
  name: master-{{ targetRegion }}a
spec:
  image: kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17
  machineType: m5.large
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-{{ targetRegion }}a
  role: Master
  rootVolumeSize: 256
  subnets:
  - {{ targetRegion }}a

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ clusterLongName }}
  name: master-{{ targetRegion }}b
spec:
  image: kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17
  machineType: m5.large
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-{{ targetRegion }}b
  role: Master
  rootVolumeSize: 256
  subnets:
  - {{ targetRegion }}b

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ clusterLongName }}
  name: master-{{ targetRegion }}c
spec:
  image: kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17
  machineType: m5.large
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: master-{{ targetRegion }}c
  role: Master
  rootVolumeSize: 256
  subnets:
  - {{ targetRegion }}c

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ clusterLongName }}
  name: nodes
spec:
  image: kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17
  machineType: m5.large
  maxSize: {{ maxWorkerNodes }}
  minSize: {{ minWorkerNodes }}
  nodeLabels:
    kops.k8s.io/instancegroup: nodes
  role: Node
  rootVolumeSize: 256
  subnets:
  - {{ targetRegion }}a
  - {{ targetRegion }}b
  - {{ targetRegion }}c

---

apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  creationTimestamp: null
  labels:
    kops.k8s.io/cluster: {{ clusterLongName }}
  name: bastions
spec:
  image: kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17
  machineType: t2.micro
  maxSize: 1
  minSize: 1
  nodeLabels:
    kops.k8s.io/instancegroup: bastions
  role: Bastion
  subnets:
  - utility-{{ targetRegion }}a
  - utility-{{ targetRegion }}b
  - utility-{{ targetRegion }}c
...