---
AWSTemplateFormatVersion: "2010-09-09"

Description: Route 53 Records. Dynamically created.

Resources:
  # Recall: The logical ID must be alphanumeric (A-Za-z0-9)
  # We concat the record name and record type to force resource name uniqueness
{% for record in dns_records.records %}
  {{ [record.name, record.type] | join("") | hash('md5') }}:
    Type: AWS::Route53::RecordSet
    Properties:
      Comment: {{ record.comment }}
      Name: {{ record.name }}
      Type: {{ record.type }}
      TTL: {{ dns_records.ttl }}
      HostedZoneId: {{ dns_records.hostedZoneId }}

{% endfor %}
...
